@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

html,
body {
  font-family: "Dosis";
  font-weight: 300;
  margin: 0;
}
h1{
  font-weight: 500;
}
h2{
  font-weight: 400;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
